{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">
{% endblock %}

{% block title %}Votre panier{% endblock %}

{% block body %}

    <div class="container pt-5">
        <h1>Votre pannier</h1>

        {% for rubrique, messages in app.flashes %}
            <div class="alert alert-{{rubrique}}">
                {% for message in messages %}
                    <span>{{message}}</span>
                {% endfor %}
            </div>
        {% endfor %}

        {# Si il y a des elements dans le tableau, alors affiche le tableau si non affiche un H2 #}
        
            <table class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Supplements</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>annuler</th>
                    </tr>
                </thead>
                <tbody>
                        {% for sup in supplements %}
                            {% for prod in products %}
                            <tr>
                                <td>{{prod.product.name | upper}}</td>
                                <td>{{prod.product.price}}</td>
                                <td>{{sup.supplement.name | upper}}</td>
                                <td>{{sup.supplement.price}}</td>
                                <td>
                                {# ReturnToCart=true c'est pour eviter de repasser sur la page produit #}                        
                                <a href="{{url("cart_add_supplement", {'slug':sup.supplement.slug})}}?returnToCart=true" class="btn btn-sm btn-primary"><i class="bx bx-plus"></i></a>
                                {{sup.qty}}
                                <a href="{{url("cart_decrement_supplement", {'slug':sup.supplement.slug})}}" class="btn btn-sm btn-primary"><i class="bx bx-minus"></i></a>
                                </td>
                                <td><a href="{{url('cart_delete', {'slug': prod.product.slug})}}" class='btn btn-sm btn-danger'><i class="bx bx-trash"></i></a></td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total : </td>
                        <td colspan="2">{{total}} €</td>
                    </tr>
                </tfoot>
            </table>


            <h2>Confirmez votre commande en remplissant ce formulaire </h2>

            {{form_start(confirmationForm, {'action': url("purchase_confirm")})}}

            {{form_widget(confirmationForm)}}

            <button type="submit" class="btn btn-success">Je confirme !</button>

            {{form_end(confirmationForm)}}

    </div>
{% endblock %}
