{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/Theme/productStyle.css')}}">
{% endblock %}

{% block title %}Kids Events {{supplement.name}}{% endblock %}

{% block body %}


        <div class="pres">
            <div class="main">
                <img src="{{asset('img/supplement/' ~ supplement.mainPicture)}}" alt="{{supplement.name}}">
                <div class="pres_text">
                    <h2>{{supplement.name}}</h2>
                    <h5>KidsEvents Proposition</h5>

                    <p>Prix de l'activitée : {{supplement.price}} €</p>    
                    <a href="{{url ('cart_add', {'id':supplement.id})}}"><button type="button">Ajouter au panier</button></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{url ('supplement_edit', {'id':supplement.id} ) }}"><button type="button">Modifier</button></a> </br>
                        <a href="{{url ('supplement.remove', {'id':supplement.id} ) }}"><button type="button">Supprimer</button></a>
                    {% endif %}

                    {# Pour les flash apres l'ajout au pannier #}
                    {% for rubrique, messages in app.flashes %}
                        <div class="infoMassage-{{rubrique}}">
                            {% for message in messages %}
                                <span>{{message}}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}

                
                    
                </div>
                
            </div>
            <p class="description"><u>Description</u> :  {{supplement.shortDescription}}</p>
        </div>
    
    
{% endblock %}
