<div class="supplement-col">
    <img src="{{asset('img/supplement/' ~ sup.mainPicture)}}" alt="{{sup.name}}">
    <h3>{{sup.name | upper}} {{sup.price}}€</h3>
    <p>{{sup.shortDescription}}</p>
</div>